:root {
  --green: rgb(80, 150, 75, 100);
  --dark-green: rgb(80, 103, 75, 100);
  --black: rgb(0, 0, 0, 100);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.arrow-link {
  width: 1em;
  height: 1em;
  position: absolute;
  margin-top: 3.5px;
  color: var(--dark-green);
}

.arrow-link-small {
  width: 1em;
  height: 1em;
  position: absolute;
  margin-top: 5.5px;
  color: var(--dark-green);
}

@font-face {
  font-family: "Sohne";
  src: url('../public/assets/fonts/normal/test-soehne-buch.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Sohne";
  src: url('../public/assets/fonts/normal/test-soehne-halbfett.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "SohneMono";
  src: url('../public/assets/fonts/mono/test-soehne-mono-buch.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}


body {
  background-color: var(--green);
}

.info {
  position: relative;
  /* margin-top: 304px; */
  padding: 8px 16px 0px 16px;
  /* background-color: blue; */
}

.sidebar {
  width: 320px;
  height: 100vh;
  position: fixed;
  /* border-right: 1px solid var(--dark-green); */
  overflow: scroll;
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.sidebar h1 {
  font-family: "Sohne";
  font-weight: 600;
  font-size: 28px;
  line-height: 33.6px;
  letter-spacing: -0.3px;
  color: var(--black);
  margin: 8px 0px 24px 0px;
  cursor: default;
}

.sidebar h2 {
  font-family: "Sohne";
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--black);
  margin-top: 16px;
  cursor: default;
}

.sidebar p {
  font-family: "Sohne";
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--black);
  margin-bottom: 4px;
}

.sidebar ul {
  font-family: "Sohne";
  font-weight: 600;
  font-size: 14px;
  line-height: 23.4px;
  color: var(--black);
  margin-bottom: 24px;
  list-style-type: none;
}

.project-title {
  display: inline;
  letter-spacing: 0.3px;
  cursor: pointer;
  transition: color ease-in-out 200ms;
}

.project-title:hover {
  color: var(--dark-green);
  cursor: pointer;
}

.description {
  font-family: "SohneMono";
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.3px;
  margin-bottom: 16px;
  text-align: justify;
  cursor: default;
}

.description-bottom {
  font-family: "SohneMono";
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.3px;
  text-align: justify;
  cursor: default;
}

.profile-photo-container {
  width: 320px;
  height: 304px;
  /* position: fixed; */
  background: var(--green);
  padding: 0;
  margin: 0;
  z-index: 2000;
  /* background: red; */
  /* border-right: 1px solid var(--dark-green); */
  /* border-bottom: 1px solid var(--dark-green); */

}

.profile-photo {
  width: 320px;
  z-index: 2000;
  /* border: 1px solid var(--dark-green); */
  border-radius: 100%;
  padding: 16px;
}

.sidebar-footer {
  height: 40px;
  width: 320px;
  /* border-right: 1px solid var(--dark-green);
  border-top: 1px solid var(--dark-green); */
  background-color: var(--green);
  padding: 12px 16px;
  display: flex;
  justify-content: space-between;
}

.footer-link {
  font-family: "SohneMono";
  font-weight: 400;
  font-size: 12px;
  transition: color ease-in-out 200ms;
}

.footer-link:hover {
  font-family: "SohneMono";
  font-weight: 400;
  font-size: 12px;
  color: var(--dark-green);
  cursor: pointer;
}

.h2-link {
  color: var(--black);
  cursor: pointer;
  transition: color ease-in-out 200ms;
}

.h2-link:hover {
  color: var(--dark-green);
}

.content-container {
  width: calc(100% - 320px);
  height: 100vh;
  position: relative;
  left: 320px;
  display: flex;
}

.home {
  position: relative;
  width: 100%;
  height: fit-content;
  padding: 24px 32px 16px 32px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

.one {
  max-width: 100%;
  height: auto;
  grid-column: span 2;
  /* Adjust the span value based on your desired grid layout */
  /* Adjust the span value based on your desired grid layout */
}