:root {
  --green: rgb(80, 150, 75, 100);
  --dark-green: rgb(80, 103, 75, 100);
  --black: rgb(0, 0, 0, 100);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Sohne";
  src: url('../public/assets/fonts/normal/test-soehne-buch.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Sohne";
  src: url('../public/assets/fonts/normal/test-soehne-buch-kursiv.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Sohne";
  src: url('../public/assets/fonts/normal/test-soehne-halbfett.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "SohneMono";
  src: url('../public/assets/fonts/mono/test-soehne-mono-buch.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SohneMono";
  src: url('../public/assets/fonts/mono/test-soehne-mono-buch-kursiv.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "SohneMono";
  src: url('../public/assets/fonts/mono/test-soehne-mono-halbfett.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@keyframes colorOscillation {
  0% {
    color: black;
    ;
  }

  100% {
    color: var(--dark-green);
    ;
  }
}

@keyframes sectionAnimation {
  0% {
    color: black;
    ;
  }

  100% {
    color: var(--dark-green);
    ;
  }
}

.arrow-link {
  width: 1em;
  height: 1em;
  position: absolute;
  margin-top: 3.5px;
  color: var(--dark-green);
}

.arrow-link-small {
  width: 1em;
  height: 1em;
  position: absolute;
  margin-top: 5.5px;
  color: var(--dark-green);
}


body {
  background-color: var(--green);
}



.contact {
  font-family: "Sohne";
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 12px;
  color: var(--black);
  text-align: justify;
}

.contact-container h3 {
  color: var(--black);
  font-family: "Sohne";
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  /* margin-bottom: 24px; */
  display: flex;
  justify-content: space-between;
  border-top: 1px solid black;
  padding-top: 8px;
}

.contact-info {
  font-family: "SohneMono";
  font-weight: 400;
  font-size: 12px;
  line-height: auto;
  color: var(--black);
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
}

.contact-container a {
  color: var(--black);
  text-decoration: underline;
}

.contact-justify {
  font-family: "Sohne";
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 24px;
  color: var(--black);
  display: flex;
  justify-content: space-between;
}

.contact-container {
  /* padding-top: 32px; */
}

.content-container {
  width: calc(100% - 384px);
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  left: 384px;
  padding: 24px 24px 24px 24px;
}

.text-content-container {
  width: calc(100% - 384px);
  height: -moz-fit-content;
  height: 100dvh;
  position: relative;
  left: 384px;
  padding: 0px 24px 24px 24px;
  background: var(--green);
  margin: 0;
  opacity: 0;
  transition: opacity ease-in-out 500ms;
}

.fade-in {
  opacity: 1
}

.contact-body {
  font-family: "SohneMono";
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.3px;
  text-align: justify;
  cursor: default;
  color: black;
  text-align: justify;
}

.description {
  font-family: "SohneMono";
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.3px;
  margin-bottom: 16px;
  text-align: justify;
  cursor: default;
  color: black;
}

.description-bottom {
  font-family: "SohneMono";
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.3px;
  text-align: justify;
  cursor: default;
}

.footer-link {
  font-family: "SohneMono";
  font-weight: 400;
  font-size: 12px;
  transition: color ease-in-out 1s;
  text-decoration: none;
  color: var(--black);
}

.footer-link:hover {
  font-family: "SohneMono";
  font-weight: 400;
  font-size: 12px;
  color: var(--dark-green);
  cursor: pointer;
  animation: colorOscillation 2s infinite alternate;
}

.h2-link {
  display: block;
  font-family: "Sohne";
  font-weight: 400;
  font-size: 14px;
  line-height: 23.4px;
  color: var(--black);
  margin-top: 16px;
  margin-bottom: 8px;
  cursor: default;
  text-decoration: none;
  transition: color ease-in-out 1s;
}

.h2-link:hover {
  color: var(--dark-green);
  cursor: pointer;
}

.home {
  width: 100%;
  display: flex;
  margin: 0;
  padding: 0;
}

.home img {
  max-width: 100%;
}

.home img:hover {
  cursor: pointer;
}

.home p {
  font-family: "SohneMono";
  font-weight: 400;
  font-size: 11px;
  letter-spacing: 0.3px;
  text-align: justify;
  cursor: default;
  color: black;
  padding-top: 4px;
  padding-bottom: 12px;
}

.home video:hover {
  cursor: pointer;
}

.home video {
  max-width: 100%;
}

.fullscreen {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  /* mix-blend-mode: screen; */
}


.info {
  position: relative;
  margin-top: 390px;
  padding: 0px 32px 40px 32px;
}

.left,
.right {
  flex: 1;
  padding-right: 16px;
}

.left>*:not(:last-child),
.right>*:not(:last-child) {
  margin-bottom: 12px;
}

.one {
  max-width: 100%;
}

.profile-photo-container {
  width: 383px;
  height: 380px;
  position: fixed;
  padding: 0;
  margin: 0;
  background: var(--green);
  border-bottom: 1px solid var(--dark-green);
  z-index: 50;
  overflow: hidden;
}

.profile-photo {
  width: 328px;
  margin-top: 32px;
  margin-left: 32px;
  padding: 0;
  border: 1px solid var(--dark-green);
  border-top-left-radius: 50%;
  border-top-right-radius: 32px;
  scale: 2;
  mix-blend-mode: hard-light;
}

.project-container {
  height: fit-content;
}

.project-container pre {
  background: #2D333B;
  width: 100%;
  height: fit-content;
  padding: 16px;
  border-radius: 4px;
  font-family: 'Menlo', 'Consolas', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', monospace !important;
  text-align: left;
  color: white;
  white-space: pre-wrap;
  /* CSS3 */
  white-space: -moz-pre-wrap;
  /* Firefox */
  white-space: -pre-wrap;
  /* Opera <7 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* Internet Explorer */
}

.project-container code {
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
  line-height: 18px;
  white-space: pre-line;
}

.project-container a {
  text-decoration: underline;
  color: var(--black);

}

.details {
  padding-bottom: 8px;
  /* border-bottom: 1px solid black; */
}

.date {
  animation: sectionAnimation 2s infinite alternate;
}

.project-container h1 {
  font-family: "SohneMono";
  font-weight: 400;
  font-size: 12px;
  line-height: auto;
  color: var(--black);
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  padding-bottom: 8px;
}

.project-container h2 {
  font-family: "SohneMono";
  font-weight: 600;
  font-size: 12px;
  line-height: auto;
  color: var(--black);
  margin: 8px 0px;
}

.project-container h3 {
  font-family: "SohneMono";
  font-weight: 400;
  font-size: 12px;
  line-height: auto;
  color: var(--black);
  margin-bottom: 8px;
  display: flex;
  justify-content: left;
}

.project-container h3 span {
  padding-right: 16px;
}

.project-container h4 {
  font-family: "SohneMono";
  font-weight: 400;
  font-size: 12px;
  line-height: auto;
  color: var(--black);
  display: flex;
  justify-content: space-between;
}

.project-container p,
li {
  font-family: "SohneMono";
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.3px;
  cursor: default;
  color: black;
  text-align: justify;
}


.project-container ul {
  list-style-type: none;
}

.project-img {
  width: 100%;
}


.project-title {
  display: inline-block;
  letter-spacing: 0.3px;
  cursor: pointer;
  transition: color ease-in-out 1s;
  text-decoration: none;
  color: var(--black);
}

.project-title:hover {
  color: var(--dark-green);
}

.resume-container {
  padding: 32px 24px 16px 0px;
  height: fit-content;
}

.resume-container a {
  text-decoration: underline;
  color: var(--black);

}

.resume-container h1 {
  font-family: "SohneMono";
  font-weight: 600;
  font-size: 12px;
  line-height: auto;
  color: var(--black);
  margin-bottom: 8px;
}

.resume-container h2 {
  font-family: "SohneMono";
  font-weight: 600;
  font-size: 12px;
  line-height: 24px;
  color: var(--black);
  margin: 16px 0px 0px;
  border-bottom: 1px solid black;
}

.resume-container h3 {
  font-family: "SohneMono";
  font-weight: 400;
  font-size: 12px;
  line-height: auto;
  color: var(--black);
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
}

.resume-container h4 {
  font-family: "SohneMono";
  font-weight: 400;
  font-size: 12px;
  line-height: auto;
  color: var(--black);
  display: flex;
  justify-content: space-between;
  margin: 8px 0px 4px;
}

.resume-container p,
li {
  font-family: "SohneMono";
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.3px;
  text-align: justify;
  cursor: default;
  color: black;
  text-align: justify;
}

.resume-container ul {
  list-style-type: none;
}

.bold {
  font-weight: 600;
}

.italics {
  font-style: italic;
  font-weight: 400;
}

.resume-description {
  margin-bottom: 4px;
}


.sidebar {
  width: 384px;
  height: 100vh;
  position: fixed;
  border-right: 1px solid var(--dark-green);
  /* border-bottom-right-radius: 8px; */
  overflow: scroll;
  /* background: red; */
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.sidebar h1 {
  font-family: "Sohne";
  font-weight: 500;
  font-size: 14px;
  line-height: 23.4px;
  color: var(--black);
  margin-top: 32px;
  margin-bottom: 8px;
  cursor: default;
}

.sidebar h2 {
  font-family: "Sohne";
  font-weight: 400;
  font-size: 14px;
  line-height: 23.4px;
  color: var(--black);
  margin-top: 16px;
  margin-bottom: 8px;
  cursor: default;
}

.sidebar-footer {
  height: 48px;
  width: 383px;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  background: var(--green);
  border-top: 1px solid var(--dark-green);
  /* border-right: 1px solid var(--dark-green); */
  /* border-top-right-radius: 32px; */

  padding: 16px 32px;
}

.sidebar p {
  font-family: "Sohne";
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--black);
  margin-bottom: 4px;
}

.sidebar ul {
  font-family: "Sohne";
  font-weight: 400;
  font-size: 14px;
  line-height: 23.4px;
  color: var(--black);
  margin-bottom: 24px;
  list-style-type: none;
}

.title {
  float: left;
}

.video-container {
  width: calc(100% - 384px);
  height: 100dvh;
  position: absolute;
  left: 384px;
  padding: 33px 40px 16px 24px;
  mix-blend-mode: screen;
}

.video-overlay {
  width: 100%;
  min-height: fit-content;
  max-height: calc(100dvh - 48px);
  position: relative;
  left: 0;
  padding: 16px 24px 16px 8px;
  z-index: 100;
  background: var(--green);
  border: 1px solid var(--dark-green);
  opacity: 0;
  transition: opacity ease-in-out 500ms;
  overflow-y: scroll;
}

.video-overlay.fade-in {
  opacity: 1;
}

.year {
  float: right;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 0;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000;

}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #F9FFFF;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #F9FFFF;
  cursor: pointer;
}